<div class="sidebar-mini skin-blue"
     [ngClass]="{
      'sidebar-collapse': !(showSidenav$ | async),
      'sidebar-open': (!(showSidenav$ | async) && viewPortWidth <= 768)
      }">
  <div class="wrapper">

    <!-- Main Header -->
    <header #header
            [attr.is-sidebar-opened]="showSidenav$ | async"
            [attr.is-control-sidebar-opened]="showControlSidebar$ | async"
            class="main-header">
      <!-- Logo -->
      <a routerLink="/welcome" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini">{{ (appState$ | async)?.companyInfo.short_name }}</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>{{ (appState$ | async)?.companyInfo.big_name }}</b> {{ (appState$ | async)?.companyInfo.small_name }}</span>
      </a>

      <!-- Header Navbar -->
      <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a (click)="toggleNavigation()" class="sidebar-toggle" data-toggle="offcanvas" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">

          <!-- User Account Menu -->
          <ul app-admin-lte-user-account-menu
              *ngIf="(authState$ | async)?.loggedIn"
              [user]="(authState$ | async)?.user"
              class="nav navbar-nav"></ul>

          <ul class="nav navbar-nav">
            <!-- Control Sidebar Toggle Button -->
            <li>
              <a (click)="toggleControlSidebar()"
                 data-toggle="control-sidebar"
                 role="button"><i class="fa fa-gears"></i></a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <!-- Left side column. contains the logo and main sidebar -->
    <aside app-admin-lte-main-sidebar
           class="main-sidebar"
           [user]="(authState$ | async)?.user"></aside>

    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper" [ngStyle]="{'height.px': viewPortHeight}">
      <ng-content></ng-content>
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer app-admin-lte-footer class="main-footer" [appState]="(appState$ | async)"></footer>

    <!-- Control Sidebar -->
    <aside app-admin-lte-control-sidebar
           class="control-sidebar control-sidebar-dark"
           [ngClass]="{'control-sidebar-open': showControlSidebar$ | async}"></aside>

    <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
    <div class="control-sidebar-bg"></div>
  </div>
  <!-- ./wrapper -->
</div>