<app-middle-box-layout>
  <h3 class="text-center" translate>AUTH.Login</h3>

  <app-alerts [appMessage]="appMessage$ | async"></app-alerts>
  
   <form novalidate
         [formGroup]="loginForm"
         (ngSubmit)="onSubmit()">

      <div class="form-group has-feedback"
           [class.has-error]="(!loginForm.get('email').valid && loginForm.get('email').touched) || (appMessage$ | async)?.errors?.email">
        <input type="email"
               name="email"
               class="form-control"
               placeholder="{{ 'AUTH.Email' | translate }}"
               formControlName="email">
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
        <div class="text-danger"
             *ngIf="(!loginForm.get('email').valid && loginForm.get('email').touched) || (appMessage$ | async )?.errors?.email">
             <span *ngIf="loginForm.get('email').hasError('required')">
               {{ 'AUTH.required field' | translate }}
             </span>
             <span>{{ (appMessage$ | async)?.errors.email }}</span>
        </div>
      </div>

      <div class="form-group has-feedback"
           [class.has-error]="(!loginForm.get('email').valid && loginForm.get('email').touched) || (appMessages | async)?.errors?.password">
        <input type="password"
               name="password"
               class="form-control"
               placeholder="{{ 'AUTH.Password' | translate }}"
               formControlName="password">
        <span class="glyphicon glyphicon-lock form-control-feedback"></span>
        <div class="text-danger"
             *ngIf="(!loginForm.get('password').valid && loginForm.get('password').touched) || (appMessage$ | async)?.errors?.password">
             <span *ngIf="loginForm.get('password').hasError('required')">
               {{ 'AUTH.required field' | translate }}
             </span>
             <span>{{ (appMessage$ | async)?.errors.password }}</span>
        </div>
      </div>

      <div class="row">

        <div class="col-xs-8"></div>

        <!-- /.col -->
        <div class="col-xs-4">
          <button type="submit"
                  class="btn btn-primary btn-block btn-flat"
                  [disabled]="loginForm.invalid || (loading$ | async)"
                  translate>AUTH.Sign In</button>
        </div>
        <!-- /.col -->

      </div>

    </form>

    <a routerLink="/auth/register" translate>AUTH.Register</a>
    <div class="clearfix"></div>
    <a routerLink="/front/landing" translate>AUTH.Go to Lading Page</a>
  
</app-middle-box-layout>
