<app-sidebar-layout>
	<app-page-header>
		<div class="col-xs-12">
			<h2>
				{{ 'DOCUMENT_TYPE.module-name-plural' | translate }}
				<small> / {{ 'DOCUMENT_TYPE.create' | translate }}</small>
			</h2>
		</div>
	</app-page-header>

	<app-page-content>
		<app-box>
			<app-box-body>

				<app-alerts [appMessage]="appMessage$ | async"></app-alerts>

				<form [formGroup]="documentTypeForm"
					  (ngSubmit)="createDocumentType()">

					<app-dynamic-form [model]="(documentTypeState$ | async)?.documentTypeFormModel"
									  [data]="(documentTypeState$ | async)?.documentTypeFormData"
									  [errors]="appMessage$ | async"
									  [visibility]="'create'"
									  [debug]="false"
									  [controls]="documentTypeForm"></app-dynamic-form>
					
					<div class="form-group">
						<button class="btn"
								type="submit"
								[disabled]="!documentTypeForm.valid"
								[ngClass]="{'btn-primary': documentTypeForm.valid, 'btn-default': !documentTypeForm.valid}">
							<i class="glyphicon glyphicon-floppy-disk"></i>
							<span class="btn-label">{{ 'DOCUMENT_TYPE.create-btn' | translate }}</span>
						</button>
					</div>

					<div class="clearfix"></div>
				</form>
			</app-box-body>
		</app-box>
	</app-page-content>

</app-sidebar-layout>