<app-nav-top-layout>

  <!-- Content Header (Page header) -->
  <app-page-header>
    <h1>
      Welcome to Angular 2 App
      <small>Angular 2.4.3</small>
    </h1>
    <ol class="breadcrumb">
      <li><a href="#"><i class="fa fa-dashboard"></i> Landing</a></li>
      <li><a href="#">Welcome</a></li>
    </ol>
  </app-page-header>

  <!-- Main content -->
  <app-page-content>

    <!-- Widgets traducidos a componentes en Angular -->
    <div class="row">
      
      <div class="col-md-4">
        <app-box #box>
          <app-box-header>
            <h5>
              Foo title
            </h5>
            <app-box-tools (collapseBox)="box.toggleCollapse()" (hideBox)="box.hideBox()">

              <div class="dropdown-toggle btn-group" dropdown>
                <a class="btn" id="single-button" role="button" dropdownToggle>
                  <i class="fa fa-wrench"></i>
                </a>
                <ul dropdownMenu role="menu" aria-labelledby="single-button">
                  <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                  <li class="divider dropdown-divider"></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a></li>
                </ul>
              </div>

            </app-box-tools>
          </app-box-header>

          <app-box-body>
            <p>Content!!</p>
          </app-box-body>

          <app-box-footer>
            Some footer text!!
          </app-box-footer>
        </app-box>
      </div>

      <div class="col-md-4">
        <app-box>
          <app-box-header>
            <h5 class="box-title">
              Without header tools
            </h5>
          </app-box-header>

          <app-box-body>
            <p>Content!!</p>
          </app-box-body>
        </app-box>
      </div>

      <div class="col-md-4">
        <app-box [isLoading]="true">
          <app-box-header>
            <h5 class="box-title">
              Without header tools
            </h5>
            <app-box-tools [showCollapseBtn]="false">
            </app-box-tools>
          </app-box-header>

          <app-box-body>
            <p>Content!!</p>
          </app-box-body>
        </app-box>
      </div>
    </div>
    <!-- Fin de Widgets traducidos a componentes en Angular -->
    
  </app-page-content>
  <!-- /.content -->

</app-nav-top-layout>