import { AdminLTEShellModule } from './adminLTE/admin-lte.module';
import { ENV } from './../environments/env';

export const THEME = {
    'adminLte': AdminLTEShellModule,
};

export function getTheme(name: string = '') {
    if (name == "") {
        return THEME[ENV.THEME];
    }

    return THEME[name];
}
