<div class="hold-transition fixed skin-blue layout-top-nav">
  <div class="wrapper" [ngStyle]="{'height.px': viewPortHeight}">

    <header class="main-header">
      <nav class="navbar navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="navbar-brand"><b>{{ (appState$ | async)?.companyInfo.big_name }}</b> {{ (appState$ | async)?.companyInfo.small_name }}</a>
            <button (click)="collapseNavBar = !collapseNavBar"
                    type="button"
                    class="navbar-toggle">
            <i class="fa fa-bars"></i>
          </button>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div [collapse]="collapseNavBar" class="collapse navbar-collapse pull-left">

            <ul class="nav navbar-nav">
              <li><a routerLink="/welcome">BackOffice</a></li>
            </ul>

            <!-- Search Form -->
            <form class="navbar-form navbar-left" role="search">
              <div class="form-group">
                <input type="text" class="form-control" id="navbar-search-input" placeholder="{{ 'SHELL.Search' | translate }}">
              </div>
            </form>

          </div>
          <!-- /.navbar-collapse -->

          <!-- Navbar Right Menu -->
          <div class="navbar-custom-menu">
              
              <!-- User Account Menu -->
              <ul app-admin-lte-user-account-menu
                  *ngIf="(authState$ | async)?.loggedIn"
                  [user]="(authState$ | async)?.user"
                  class="nav navbar-nav"></ul>
            
            <ul *ngIf="!(authState$ | async)?.loggedIn" class="nav navbar-nav">
              <li><a class="login-link" routerLink="/auth/login" translate>SHELL.Login</a></li>
              <li><a class="sign-up-link" routerLink="/auth/register" translate>SHELL.Sign in</a></li>
            </ul>

          </div>
          <!-- /.navbar-custom-menu -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </header>

    <!-- Full Width Column -->
    <div class="content-wrapper">
      <div class="container-fluid">

        <!-- Page content -->
        <ng-content></ng-content>

      </div>
      <!-- /.container -->
    </div>
    <!-- /.content-wrapper -->

    <!-- Main Footer -->
    <footer app-admin-lte-footer class="main-footer" [appState]="(appState$ | async)"></footer>

  </div>
  <!-- ./wrapper -->

</div>