<div class="top-navigation">
  <div id="page-wrapper" class="gray-bg" [ngStyle]="{'height.px': viewPortHeight}">

    <!-- top navigation -->
    <div class="row border-bottom white-bg">
      <nav class="navbar navbar-static-top" role="navigation">
        <div class="navbar-header">
          <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed"
            type="button">
                    <i class="fa fa-reorder"></i>
                </button>
          <a href="/" class="navbar-brand"><b>{{ (appState$ | async)?.companyInfo.big_name }}</b> {{ (appState$ | async)?.companyInfo.small_name }}</a>
        </div>

        <div class="navbar-collapse collapse" id="navbar">
          <ul class="nav navbar-nav">
            <li *ngIf="(authState$ | async)?.loggedIn" class="dropdown">
              <a aria-expanded="false" role="button" routerLink="/welcome" class="dropdown-toggle" data-toggle="dropdown">Got to back office</a>
            </li>
          </ul>

          <!-- login or create account links -->
          <ul *ngIf="!(authState$ | async)?.loggedIn" class="nav navbar-nav navbar-right">
            <li><a class="login-link" routerLink="/auth/login" translate>SHELL.Login</a></li>
            <li><a class="sign-up-link" routerLink="/auth/register" translate>SHELL.Sign in</a></li>
          </ul>
          <!-- /login or create account links -->

          <!-- user account menu -->
          <ul app-admin-lte-user-account-menu
              *ngIf="(authState$ | async)?.loggedIn"
              [user]="(authState$ | async)?.user"
              class="nav navbar-top-links navbar-right">

              <!-- You can add more items here!! -->

          </ul>
          <!-- /user account menu -->
        
        </div>
      </nav>
    </div>
    <!-- /top navigation -->

    <!-- content-wrapper -->
    <div class="wrapper wrapper-content">
      <div class="container-fluid">

        <!-- page content -->
        <ng-content></ng-content>

      </div>
      <!-- /container -->
    </div>
    <!-- /content-wrapper -->

    <!-- main footer -->
    <footer app-admin-lte-footer [appState]="(appState$ | async)"></footer>

  </div>
  <!-- ./wrapper -->

</div>