<div class="table-responsive">
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <ng-container *ngFor="let column of columns">
                <th *ngIf="showColumn(column)" class="{{ column }}">
                    <span role="button" (click)="sortLinkClicked.emit({'orderBy': column, 'sortedBy': (sortedBy == 'desc' || orderBy != column) ? 'asc' : 'desc'})">
                        {{ translateKey+'.fields.'+column | translate }}
                        <i *ngIf="orderBy == column"
                            [ngClass]="{'glyphicon': true, 'glyphicon-triangle-bottom': sortedBy == 'desc', 'glyphicon-triangle-top': sortedBy == 'asc'}"></i>
                    </span>
                </th>
                </ng-container>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let documentType of documentTypes">
                <td *ngIf="showColumn('document_types.id')" class="id">
                    {{ documentType?.id }}
                </td>
                <td *ngIf="showColumn('document_types.name')" class="name">
                    {{ documentType?.name }}
                </td>
                <td *ngIf="showColumn('document_types.short_name')" class="short_name">
                    {{ documentType?.short_name }}
                </td>
                <td *ngIf="showColumn('document_types.created_at')" class="created_at">
                    {{ documentType?.created_at?.date | date:'shortDate' }}
                </td>
                <td *ngIf="showColumn('document_types.updated_at')" class="updated_at">
                    {{ documentType?.updated_at?.date | date:'shortDate' }}
                </td>
                <td *ngIf="showColumn('document_types.deleted_at')" class="deleted_at">
                    {{ documentType?.deleted_at?.date | date:'shortDate' }}
                </td>
                <td>
                    <a [routerLink]="[ '/document-type', documentType.id]" class="btn btn-sm btn-default">
                        <i class="glyphicon glyphicon-eye-open"></i>
                        {{ documentType.id }}
                        <span class="sr-only btn-label">Detalles</span>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
