<!-- sidebar: style can be found in sidebar.less -->

<!--<nav>-->
<div class="sidebar-collapse">
  <ul class="nav metismenu" id="side-menu">

    <!-- User menu -->
    <li class="nav-header user-panel">
      
      <div class="dropdown profile-element">
        <a data-toggle="dropdown" class="dropdown-toggle" href="#">
          <span class="block m-t-xs"> <strong class="font-bold">{{ user?.name }}</strong> </span>
          <span class="text-muted text-xs block">Example <b class="caret"></b> </span>
        </a>
        <ul class="dropdown-menu animated fadeInRight m-t-xs">
          <li><a href="#">Logout</a></li>
        </ul>
      </div>

      <div class="logo-element">
        <a routerLink="/welcome">
            {{ company?.big_name }}
          </a>
      </div>

    </li>

    <!-- Dynamic Private Menú Generation -->
    <ng-container *ngFor="let menu of menuItems; let i = index">
      <li *ngIf="menu.visivility == 'private'" routerLinkActive="active" routerLinkActiveOptions="{exact: true}" [ngClass]="{ 'header': menu.isHeader}">

        <!-- If item is header -->
        <span *ngIf="menu.isHeader" class="nav-label text-uppercase">{{ menu.label }}</span>

        <!-- If has not childs -->
        <a *ngIf="menu.childs.length == 0 && menu.isHeader === false" routerLink="{{ menu.url }}">
          <i class="{{ menu.icon }}"></i>
          <span class="nav-label">{{ menu.label }}</span>
        </a>

        <!-- If has childs -->
        <a *ngIf="menu.childs.length > 0 && menu.isHeader === false" role="button" (click)="selectedMenuItem(i)">
          <i class="{{ menu.icon }}"></i>
          <span class="nav-label">{{ menu.label }}</span>
          <span *ngIf="menu.childs.length > 0" class="pull-right-container">
          <i class="fa fa-angle-left pull-right"></i>
        </span>
        </a>

        <!-- The menu child items -->
        <ul *ngIf="menu.childs.length > 0" [ngClass]="{'nav nav-second-level': true }">
          <li *ngFor="let subMenu of menu.childs" routerLinkActive="active" routerLinkActiveOptions="{exact: true}" [class.treeview]="subMenu.childs">
            <a *ngIf="subMenu.childs.length == 0" routerLink="{{ subMenu.url }}">
              <span>{{ subMenu.label }}</span>
            </a>
          </li>
        </ul>

      </li>
    </ng-container>

  </ul>
</div>
<!--</nav>-->