/* You can add global styles to this file, and also import other style files */

.table.actions-btns-3 .actions {
  width: 130px;
  text-align: right;
}

.fix-form-control-height {
    height: auto;
    min-height: 34px;
}

.ng-valid.ng-touched:not(form):not(div):not([class*="dynamic-form-fields"]):not(pagination),
.ng-valid.ng-dirty:not(form):not(div):not([class*="dynamic-form-fields"]):not(pagination) {
  border-left: 5px solid #149178;
}

.ng-invalid:not(form):not(div):not([class*="dynamic-form-fields"]):not(pagination),
.ng-invalid-group{
  border-left: 5px solid #ca4440;
}